#passImage{
    display:none;
    text-align:center;
	color : #ffffff;
}

#passImagePicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#passImageDate{
    font-size:100px;
}

#title{
    font-size:100px;
	margin-top: 30%;
}

body {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}