#title {
    text-align : center;
    font-size : 40px;
}

#version {
    text-align : right;
    font-size : 20px;
}

#note {
    font-size : 30px;
    text-align : center;
}

#chineseNote {
    display : inline-block;
    text-align : left;
    width : 70%;
}
#englishNote {
    display : inline-block;
    text-align : left;
    width : 70%;
}

#language_choice{
    text-align : center;
}

#chineseButton{
    font-size : 40px;
    width : 300px;
    height : 100px;
}

#englishButton{
    font-size : 40px;
    width : 300px;
    height : 100px;
}

